<!-- 投稿の表示 -->
<div class="panel panel-default">
    <div class="panel-heading">
        メッセージ一覧
    </div>
    <div class="panel-body">
        <% @messages.each do |message| %>
    <div class = "row"> <!-- モバイルの時は1段組、それ以外は2段組 -->
        <div class = "col-xs-12 col-sm-1"><span class="label label-info"><%= message.name %></span></div>
        <div class = "col-xs-12 col-sm-11"><%= simple_format(h(message.body)) %></div> <!-- 改行をきちんと表示する -->
    </div>
        <% end %>
    </div>
</div>

<!-- （仮）編集と削除リンクの表示 -->
<div class="panel panel-default">
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
        <%= message.body %>
        (<%= link_to "edit" , edit_message_path(message) %>
        <%= link_to "destroy" , message , method: :delete, data: {confirm: '削除してもよろしいですか？'} %>
        )
        <br>
    <% end %>
  </div>
</div>
  
<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>
